APP_ENV=''

POSTGRES_PASSWORD_UNITTEST=''
POSTGRES_USER_UNITTEST=''
POSTGRES_DB_UNITTEST=''

POSTGRES_PASSWORD_DEVELOPMENT=''
POSTGRES_USER_DEVELOPMENT=''
POSTGRES_DB_DEVELOPMENT=''

POSTGRES_URL=''

NEXT_PUBLIC_API_BASE_URL=''
VERCEL_URL=''

BASIC_AUTH_USERNAME=''
BASIC_AUTH_PASSWORD=''

FRONTEND_URL=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_GUILD_ID=
DISCORD_BOT_TOKEN=
